@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
  --yellow: #f5b81e;
  --parliament: #102540;
  --blue: #075d9a;
  --seablue: #76defb;
  --skyblue: #52a8e1;
  --black: #1b1b1b;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: whitesmoke;
  color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  position: relative;
  z-index: 2;
  line-height: 0em;
}

.animated-circle {
  background-color: var(--yellow);
  height: 20px;
  width: 20px;
  position: relative;
  top: 48px;
  animation: breathe 3s ease-in-out infinite;
  animation-direction: alternate;
  border-radius: 100%;
}

@keyframes breathe {
  from {
    opacity: 0;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(14);
  }
}
